.button {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #D3D3D3;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

.item {
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.item::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
}